<%- model_class = Song -%>
<div class="page-header">
  <h1><%=t '.title', :default => Song %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:lyric) %></th>
      <th><%= model_class.human_attribute_name(:views) %></th>
      <th><%= model_class.human_attribute_name(:keywords) %></th>
      <th><%= model_class.human_attribute_name(:uploader) %></th>
      <th><%= model_class.human_attribute_name(:performer) %></th>
      <th><%= model_class.human_attribute_name(:writer) %></th>
      <th><%= model_class.human_attribute_name(:album) %></th>
      <th><%= model_class.human_attribute_name(:views_month) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:filename) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= song.id %></td>
        <td><%= song.name %></td>
        <td><%= song.lyric %></td>
        <td><%= song.views %></td>
        <td><%= song.keywords %></td>
        <td><%= song.uploader %></td>
        <td><%= song.performer %></td>
        <td><%= song.writer %></td>
        <td><%= song.album %></td>
        <td><%= song.views_month %></td>
        <td><%= song.status %></td>
        <td><%= song.filename %></td>
        <td><%=l song.created_at, format: :long %></td>
        <td>
          <%= link_to song_path(song), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to song_path(song), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_song_path,
            :class => 'btn btn-primary' %>
