<%= simple_form_for(@postcard) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :recipient_name %>
    <%= f.input :recipient_email %>
    <%= f.input :sender_name %>
    <%= f.input :sender_email %>
    <%= f.input :message %>
    <%= f.input :image_url %>
    <%= f.input :deliver_on %>
    <%= f.input :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
